spring:
  datasource:
    url: jdbc:postgresql://postgres:5432/techspot_db
    username: techspot_user
    password: techspot_pass
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: create
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    show-sql: true
    properties:
      hibernate:
        format_sql: true

server:
  port: 8080

logging:
  level:
    com.example.TechSpot: DEBUG