server:
  port: 8080

spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/techspot_db
    username: techspot_user
    password: techspot_pass

  jpa:
    hibernate:
      ddl-auto: create
    show-sql: false

  cache:
    type: REDIS

  data:
    redis:
      host: localhost
      port: 6379

  mail:
    host: smtp.yandex.ru
    port: 587
    username: EvgenyPavlov666@yandex.ru
    password: qdnipddqaijipjam
    properties:
      mail.smtp.from: EvgenyPavlov666@yandex.ru
      mail.smtp.auth: true
      mail.smtp.starttls.enable: true

  kafka:
    bootstrap-servers: localhost:9092

    consumer:
      group-id: techspot-consumer
      auto-offset-reset: earliest
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: org.springframework.kafka.support.serializer.JsonDeserializer
      properties:
        spring.json.trusted.packages: "*"

    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.springframework.kafka.support.serializer.JsonSerializer

logging:
  level:
    org.apache.kafka: WARN

app:
  redis:
    login:
      login-attempts-prefix: "security::login_attempts::"
      login-attempts-ttl: 15m
      attempts-failed: 5

  kafka:
    topics:
      order-created: order.created.topic
      order-updated: order.updated.topic
      password-reset: password.reset.topic
