spring:
  application:
    name: TechSpot

  datasource:
    url: jdbc:postgresql://localhost:5432/techspot_db
    driver-class-name: org.postgresql.Driver
    username: techspot_user
    password: techspot_pass

  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: create  # или update для продакшена
#    show-sql: true
#    properties:
#      hibernate:
#        format_sql: true
#        default_schema: techspot_schema

  h2:
    console:
      enabled: false

