# src/main/resources/application-docker.yml
spring:
  application:
    name: TechSpot

  datasource:
    url: jdbc:postgresql://postgres:5432/techspot_db  # ← Имя сервиса из docker-compose
    driver-class-name: org.postgresql.Driver
    username: techspot_user
    password: techspot_pass

  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: update  # ← Лучше update для Docker
    show-sql: true