server:
  port: 8080

spring:


  datasource:
    url: jdbc:postgresql://postgres:5432/techspot_db
    username: techspot_user
    password: techspot_pass

  # Spring Boot 3 Redis конфигурация
  data:
    redis:
      host: ${REDIS_HOST:redis}
      port: ${REDIS_PORT:6379}
  cache:
    type: ${CACHE_TYPE:redis}

  # Kafka
  kafka:
    bootstrap-servers: ${KAFKA_BOOTSTRAP_SERVERS:kafka:29092}

  # Flyway миграции
  flyway:
    enabled: true
    locations: classpath:db/migration

  # JPA
  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: false

  # Почта
  mail:
    host: ${MAIL_HOST:smtp.yandex.ru}
    port: ${MAIL_PORT:587}
    username: ${MAIL_USERNAME:EvgenyPavlov666@yandex.ru}
    password: ${MAIL_PASSWORD:qdnipddqaijipjam}
    properties:
      mail.smtp.auth: true
      mail.smtp.starttls.enable: true

# Логирование
logging:
  level:
    com.example.techspot: INFO
    org.springframework: WARN

# App настройки
app:
  redis:
    login:
      login-attempts-prefix: "security::login_attempts::"
      login-attempts-ttl: 15m
      attempts-failed: 5
  storage:
    type: local
    local-path: /app/storage
  product-images:
    max-count: 5